*{
  padding: 0;
  margin: 0;
}

body{
  background-color: #c17979;
}

.container{
  border-radius: 5%;
  background-color: #a9a6a6;
}

h1{
  font-family: serif;

}

button{
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 4px;

}


  li{
    font-size: 18px;
    font-style:normal;
  margin-left: 5px;
  font-family:fantasy;
  }

#item{
  width:89%;
  height: 50px;
  border-radius: 10px;
}

#date{
  font-family: serif;
  position: absolute;
  top: 12%;
  color: white;

}

.veri{
  max-width: 15px;
}

.compl{
  margin-left: 25%;
}

.content{
  width:410px;
  height: 250px;
  overflow: auto;
}

.txt{
  font-family: sans-serif;
}

.del-logo{
  position: relative;
  left: 75%
}
